@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(../fonts/MYWJ4lYm5dbZ1UBuYox79KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 19:12:53 May 22, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:14:44 Jul 22, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.108
  exclusion.robots.policy: 0.099
  cdx.remote: 0.108
  esindex: 0.009
  LoadShardBlock: 287.688 (6)
  PetaboxLoader3.datanode: 134.99 (7)
  PetaboxLoader3.resolve: 410.73 (2)
  load_resource: 295.64
*/