html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@font-face{font-family:'ms900';src:url('../fonts/ms900.eot');src:url('../fonts/ms900.eot#iefix') format('embedded-opentype'),url('../fonts/ms900.woff') format('woff'),url('../fonts/ms900.ttf') format('truetype'),url('../fonts/ms900.svg#ms900') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'ms700';src:url('../fonts/ms700.eot');src:url('../fonts/ms700.eot#iefix') format('embedded-opentype'),url('../fonts/ms700.woff') format('woff'),url('../fonts/ms700.ttf') format('truetype'),url('../fonts/ms700.svg#ms700') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'ms500';src:url('../fonts/ms500.eot');src:url('../fonts/ms500.eot#iefix') format('embedded-opentype'),url('../fonts/ms500.woff') format('woff'),url('../fonts/ms500.ttf') format('truetype'),url('../fonts/ms500.svg#ms500') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'ms300';src:url('../fonts/ms300.eot');src:url('../fonts/ms300.eot#iefix') format('embedded-opentype'),url('../fonts/ms300.woff') format('woff'),url('../fonts/ms300.ttf') format('truetype'),url('../fonts/ms300.svg#ms300') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'ms100';src:url('../fonts/ms100.eot');src:url('../fonts/ms100.eot#iefix') format('embedded-opentype'),url('../fonts/ms100.woff') format('woff'),url('../fonts/ms100.ttf') format('truetype'),url('../fonts/ms100.svg#ms100') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'sobb';src:url('../fonts/sobb.eot');src:url('../fonts/sobb.eot#iefix') format('embedded-opentype'),url('../fonts/sobb.woff') format('woff'),url('../fonts/sobb.ttf') format('truetype'),url('../fonts/sobb.svg#sobb') format('svg');font-weight:normal;font-style:normal;}

/*
     FILE ARCHIVED ON 18:29:26 Jun 12, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:14:43 Jul 22, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 87.786
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.091
  cdx.remote: 0.079
  esindex: 0.011
  LoadShardBlock: 50.21 (3)
  PetaboxLoader3.datanode: 56.43 (4)
  load_resource: 37.784
  PetaboxLoader3.resolve: 27.134
*/